<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Article | #未分類</title>
    <link rel="shortcut icon" href="/logo.png" />
    <!--Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/styles/stylechat.css" />
  </head>
  <body>
    <nav>
      <div class="accountbox none">
        <ul>
          <li><a href="/auth/logout">登出</a></li>
        </ul>
      </div>
      <div class="hamburger">
        <p onclick="none1()"><i class="fa-solid fa-bars"></i></p>
      </div>
      <section class="hamburgerlist none">
        <div class="bigbox">
          <div class="search1">
            <form action="/profile4/search" method="GET">
              <input
                type="search"
                name="content"
                placeholder="搜尋#未分類"
                autocomplete="off"
                required
              />
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          <div class="left">
            <ul>
              <li><a href="/profile1">#紀錄區</a></li>
              <li><a href="/profile2">#截圖區</a></li>
              <li><a href="/profile3">#分享區</a></li>
              <li><a class="active" href="#">#未分類</a></li>
            </ul>
          </div>
        </div>
      </section>
      <a class="logo" href="/">Article</a>
      <div class="search">
        <form action="/profile4/search" method="GET">
          <input
            type="search"
            name="content"
            placeholder="搜尋#未分類"
            autocomplete="off"
            required
          />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
      </div>
      <div class="account">
        <img class="picc" src="<%= user.picture %> " alt="" onclick="none()" />
        <p class="picc1" onclick="none()"><%= user.firstname %></p>
      </div>
    </nav>
    <main>
      <section class="left">
        <ul>
          <li><a href="/profile1">#紀錄區</a></li>
          <li><a href="/profile2">#截圖區</a></li>
          <li><a href="/profile3">#分享區</a></li>
          <li><a class="active" href="#">#未分類</a></li>
        </ul>
      </section>
      <section class="right">
        <div class="goTop">
          <a href="#0"><i class="fa-solid fa-angle-up"></i></a>
        </div>
        <div class="content">
          <div class="introduce" id="0">
            <div class="goBottom">
              <p>跳轉到最舊訊息</p>
            </div>
          </div>
          <% if(posts.length > 0){ %> <% for(let i = 0;i < posts.length;i++){ %>
          <div class="message">
            <!--delete-->
            <form class="delete" action="/profile4/delete" method="POST">
              <input type="hidden" name="id" value="<%= posts[i]._id %>" />
              <button><i class="fa-solid fa-trash"></i></button>
            </form>
            <!--delete-->
            <div>
              <img src="<%= user.picture %> " alt="" />
            </div>
            <div>
              <p>
                <%= user.firstname %>
                <span><%= posts[i].date.toLocaleDateString() %> </span>
              </p>
              <% let string = posts[i].content %> <% try { new URL(string); %>
              <div class="picbox">
                <a target="_blank" href="<%= posts[i].content %>"
                  ><%= posts[i].content %></a
                >
                <img src="<%= posts[i].content %>" alt="" />
              </div>
              <% } catch (_) { %>
              <p><%= posts[i].content %></p>
              <% } %>
            </div>
          </div>
          <% } %> <% } %>
          <div class="introduce">
            <h1>歡迎來到＃未分類</h1>
            <p>這裡是＃未分類的起點</p>
          </div>
        </div>
        <div class="comment">
          <form action="/profile4/post" method="POST">
            <input
              type="text"
              name="content"
              placeholder="傳訊息到＃未分類"
              autocomplete="off"
              autofocus
            />
          </form>
        </div>
      </section>
    </main>
  </body>
  <script src="/app2.js"></script>
</html>
